@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Regular.woff2") format("woff2"),
    url("../fonts/Lato/Lato-Regular.woff") format("woff"),
    url("../fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lora";
  src: url("../fonts/Lora/Lora-Regular.woff2") format("woff2"),
    url("../fonts/Lora/Lora-Regular.woff") format("woff"),
    url("../fonts/Lora/Lora-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.lora-title {
  font-family: "Lora", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 54px;
  text-align: center;
  vertical-align: middle;
}

.lato-title {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 42px;
}

.lato-text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  vertical-align: middle;
}

.lato-heading {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.introduction-wrapper {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding-left: 16px;
  padding-right: 16px;
  max-width: 810px;
  margin: 0 auto;
}

.introduction-wrapper__image-section__wrapper {
  width: 50%;
  position: relative;
  height: auto;
  max-width: 385px;
  max-height: 628px;
}

.introduction-wrapper__image-section__wrapper::after {
  position: absolute;
  content: "";
  width: 100%;
  max-width: inherit;
  height: 100%;
  border-radius: 16px;
  left: 0;
  background-color: #000;
  opacity: 0.2;
}

.introduction-wrapper__image-section__wrapper__img {
  border-radius: 16px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.introduction-wrapper__image-section {
  display: flex;
  gap: 16px;
  margin: 0 auto;
  justify-content: center;
  max-width: inherit;
}

@media screen and (max-width: 375px) {
  .introduction-wrapper {
    gap: 27px;
    padding-left: 8.23px;
    padding-right: 8.23px;
  }

  .introduction-wrapper__image-section {
    gap: 4px;
  }

  .introduction-wrapper__image-section__wrapper {
    height: 289px;
  }

  .introduction-wrapper__image-section__wrapper__img {
    max-width: 100%;
    height: inherit;
  }
}

@media screen and (max-width: 768px) {
  .introduction-wrapper__image-section {
    gap: 8px;
  }

  .introduction-wrapper__image-section__wrapper {
    height: 350px;
  }

  .introduction-wrapper__image-section__wrapper__img {
    max-width: 100%;
    height: inherit;
  }
}

@media screen and (max-width: 1440px) {
  .lora-title {
    font-size: 32px;
    line-height: 42px;
  }

  .introduction-wrapper {
    max-width: 600px;
  }

  .introduction-wrapper__image-section__wrapper {
    max-width: 270px;
    max-height: 400px;
  }
}

@media screen and (min-width: 768px) {
  .lato-text {
    font-size: 16px;
  }

  .lato-heading {
    font-size: 20px;
    line-height: 30px;
  }
}

.favorite-palces-wrapper {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.favorite-palces-wrapper__item {
  display: flex;
  gap: 8px;
}

.favorite-palces-wrapper__item__image-wrapper {
  width: 50%;
  position: relative;
  max-width: 684px;
  max-height: 800px;
}

.favorite-palces-wrapper__item__image-wrapper::after {
  position: absolute;
  content: "";
  width: 100%;
  max-width: inherit;
  height: 100%;
  border-radius: 24px;
  left: 0;
  background-color: #000;
  opacity: 0.2;
}

.favorite-palces-wrapper__item__image-wrapper__img {
  width: 100%;
  height: 100%;
  border-radius: 24px;
  object-fit: cover;
}

.favorite-palces-wrapper__item__content-container {
  width: 50%;
  background-color: #f4f0ea;
  border-radius: 24px;
  display: flex;
  align-items: flex-end;
  max-width: 684px;
  max-height: 800px;
}

.favorite-palces-wrapper__item__content-container__wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
}

.favorite-palces-wrapper__item__content-container__wrapper__title {
  font-family: "Lora", sans-serif;
  font-weight: 400;
  font-size: 64px;
  line-height: 74px;
}

.favorite-palces-wrapper__item__content-container__wrapper__description {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.favorite-palces-wrapper__item__content-container__wrapper__description__title {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.favorite-palces-wrapper__item__content-container__wrapper__description__content {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

@media screen and (max-width: 768px) {
  .favorite-palces-wrapper__item {
    flex-direction: column;
    width: 100%;
  }
  .favorite-palces-wrapper__item__image-wrapper {
    width: 100%;
    max-width: 100%;
  }
  .favorite-palces-wrapper__item__content-container {
    width: 100%;
  }
}
